In [ ]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt

In [ ]:
dept_df = pd.read_csv('primary_df_2.csv').iloc[:,1:]
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
dept_df['Departments'] = dept_df['Departments'].str[1:-1]

for i in range(dept_df.shape[0]):
  dept_df['Departments'][i] = dept_df['Departments'][i].replace("' ","'").replace("'","")

tmp_df = dept_df['Departments'].apply(lambda x: x.split(","))
array_out = mlb.fit_transform(tmp_df)
df_out = pd.DataFrame(data=array_out, columns=mlb.classes_)
df_out.columns = df_out.columns.str.replace("'","")
dept_df_2 = pd.concat([dept_df, df_out],axis =1).drop(['Departments'],axis =1 )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
!pip install kmapper

Collecting kmapper
  Downloading kmapper-2.0.1-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 4.3 MB/s
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.7/dist-packages (from kmapper) (2.11.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from kmapper) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from kmapper) (1.21.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from kmapper) (1.0.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2->kmapper) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->kmapper) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->kmapper) (1.1.0)
Installing collected packages: kmapper
Successfully installed kmapper-2.0.1

In [ ]:
dept_df_2 = dept_df_2.drop(['Authors at my Institution','Research Organizations - standardized',
                         'Country of Research organization','Title','Title_abs'],axis=1)

In [ ]:
dept_df_2['Times cited'] = dept_df_2['Times cited'].fillna(0)

In [ ]:
dept_df_2

,Publication Date,Times cited,Accounting,Aerospace Engineering,Africana Studies,Aggie STEM,Agricultural Economics,Agricultural Leadership,Animal Science,Anthropology,...,Teaching,Translational Medical Sciences,University Affiliated Agencies,University Libraries,Veterinary Integrative Biosciences,Veterinary Pathobiology,Veterinary Physiology and Pharmacology,Visualization,Wildlife and Fisheries Sciences,Women & Gender Studies
0,2020,652.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2018,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,126.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2015,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160358,2012,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160359,2011,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160360,2011,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160361,2012,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160362,2011,0.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = dept_df_2.iloc[:,2:]
X = X.iloc[:,(X.sum(axis=0)>2500).values]
X

,Biological and Agricultural Engineering,Aerospace Engineering,Animal Science,Biological and Agricultural Engineering,Chemical Engineering,Chemistry,Civil Engineering,Computer Science and Engineering,Electrical and Computer Engineering,Health and Kinesiology,Materials Science and Engineering,Mathematics,Mechanical Engineering,Molecular and Cellular Medicine,Physics and Astronomy,Psychological and Brain Sciences,Soil and Crop Sciences,Veterinary Integrative Biosciences,Veterinary Pathobiology,Veterinary Physiology and Pharmacology
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160358,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
160359,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
160360,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
160361,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
160362,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
import kmapper as km
from sklearn.manifold import TSNE
from sklearn.preprocessing import MinMaxScaler

mapper = km.KeplerMapper(verbose=1)


projected_X = mapper.fit_transform(X,
                                   projection = TSNE(), scaler = None)
from sklearn import cluster

In [ ]:
graph = mapper.map(projected_X,
                   clusterer=cluster.DBSCAN(eps=0.2, min_samples=10, metric = 'cosine'),
                   cover=km.Cover(n_cubes=35, perc_overlap=0.3), remove_duplicate_nodes=True)

Mapping on data shaped (160363, 2) using lens shaped (160363, 2)

Minimal points in hypercube before clustering: 10
Creating 1225 hypercubes.
   > Found 1 clusters in hypercube 0.
   > Found 1 clusters in hypercube 1.
   > Found 1 clusters in hypercube 2.
   > Found 1 clusters in hypercube 3.
   > Found 1 clusters in hypercube 4.
   > Found 1 clusters in hypercube 5.
   > Found 1 clusters in hypercube 6.
   > Found 1 clusters in hypercube 7.
   > Found 1 clusters in hypercube 8.
Cube_9 is empty.

Cube_10 is empty.

   > Found 1 clusters in hypercube 11.
Cube_12 is empty.

   > Found 1 clusters in hypercube 13.
Cube_14 is empty.

Cube_15 is empty.

   > Found 1 clusters in hypercube 16.
   > Found 1 clusters in hypercube 17.
   > Found 1 clusters in hypercube 18.
   > Found 1 clusters in hypercube 19.
   > Found 1 clusters in hypercube 20.
   > Found 1 clusters in hypercube 21.
   > Found 1 clusters in hypercube 22.
   > Found 1 clusters in hypercube 23.
   > Found 1 clusters in hypercube 24.
   > Found 1 clusters in hypercube 25.
   > Found 1 clusters in hypercube 26.
   > Found 1 clusters in hypercube 27.
   > Found 1 clusters in hypercube 28.
   > Found 1 clusters in hypercube 29.
   > Found 1 clusters in hypercube 30.
   > Found 1 clusters in hypercube 31.
   > Found 1 clusters in hypercube 32.
   > Found 1 clusters in hypercube 33.
   > Found 1 clusters in hypercube 34.
   > Found 1 clusters in hypercube 35.
   > Found 1 clusters in hypercube 36.
   > Found 1 clusters in hypercube 37.
   > Found 1 clusters in hypercube 38.
   > Found 1 clusters in hypercube 39.
   > Found 1 clusters in hypercube 40.
   > Found 1 clusters in hypercube 41.
   > Found 1 clusters in hypercube 42.
   > Found 1 clusters in hypercube 43.
   > Found 1 clusters in hypercube 44.
   > Found 1 clusters in hypercube 45.
   > Found 1 clusters in hypercube 46.
   > Found 1 clusters in hypercube 47.
   > Found 1 clusters in hypercube 48.
   > Found 1 clusters in hypercube 49.
   > Found 1 clusters in hypercube 50.
   > Found 1 clusters in hypercube 51.
Cube_52 is empty.

Cube_53 is empty.

   > Found 1 clusters in hypercube 54.
   > Found 1 clusters in hypercube 55.
Cube_56 is empty.

   > Found 1 clusters in hypercube 57.
   > Found 1 clusters in hypercube 58.
   > Found 1 clusters in hypercube 59.
   > Found 1 clusters in hypercube 60.
   > Found 1 clusters in hypercube 61.
   > Found 1 clusters in hypercube 62.
   > Found 1 clusters in hypercube 63.
   > Found 1 clusters in hypercube 64.
   > Found 1 clusters in hypercube 65.
   > Found 1 clusters in hypercube 66.
   > Found 1 clusters in hypercube 67.
   > Found 1 clusters in hypercube 68.
   > Found 1 clusters in hypercube 69.
   > Found 1 clusters in hypercube 70.
   > Found 1 clusters in hypercube 71.
   > Found 1 clusters in hypercube 72.
   > Found 1 clusters in hypercube 73.
   > Found 1 clusters in hypercube 74.
   > Found 1 clusters in hypercube 75.
   > Found 1 clusters in hypercube 76.
   > Found 1 clusters in hypercube 77.
   > Found 1 clusters in hypercube 78.
   > Found 1 clusters in hypercube 79.
   > Found 1 clusters in hypercube 80.
   > Found 1 clusters in hypercube 81.
   > Found 1 clusters in hypercube 82.
   > Found 1 clusters in hypercube 83.
   > Found 1 clusters in hypercube 84.
   > Found 1 clusters in hypercube 85.
   > Found 1 clusters in hypercube 86.
   > Found 1 clusters in hypercube 87.
   > Found 1 clusters in hypercube 88.
   > Found 1 clusters in hypercube 89.
   > Found 1 clusters in hypercube 90.
   > Found 1 clusters in hypercube 91.
   > Found 1 clusters in hypercube 92.
Cube_93 is empty.

   > Found 1 clusters in hypercube 94.
   > Found 1 clusters in hypercube 95.
   > Found 1 clusters in hypercube 96.
   > Found 1 clusters in hypercube 97.
   > Found 1 clusters in hypercube 98.
   > Found 1 clusters in hypercube 99.
   > Found 1 clusters in hypercube 100.
   > Found 1 clusters in hypercube 101.
   > Found 1 clusters in hypercube 102.
   > Found 1 clusters in hypercube 103.
   > Found 1 clusters in hypercube 104.
   > Found 1 clusters in hypercube 105.
   > Found 1 clusters in hypercube 106.
   > Found 1 clusters in hypercube 107.
   > Found 1 clusters in hypercube 108.
   > Found 1 clusters in hypercube 109.
   > Found 1 clusters in hypercube 110.
   > Found 1 clusters in hypercube 111.
   > Found 1 clusters in hypercube 112.
   > Found 1 clusters in hypercube 113.
   > Found 1 clusters in hypercube 114.
   > Found 1 clusters in hypercube 115.
   > Found 1 clusters in hypercube 116.
   > Found 1 clusters in hypercube 117.
   > Found 1 clusters in hypercube 118.
   > Found 1 clusters in hypercube 119.
   > Found 1 clusters in hypercube 120.
   > Found 1 clusters in hypercube 121.
   > Found 1 clusters in hypercube 122.
   > Found 1 clusters in hypercube 123.
   > Found 1 clusters in hypercube 124.
   > Found 1 clusters in hypercube 125.
   > Found 1 clusters in hypercube 126.
   > Found 1 clusters in hypercube 127.
   > Found 1 clusters in hypercube 128.
   > Found 1 clusters in hypercube 129.
   > Found 1 clusters in hypercube 130.
   > Found 1 clusters in hypercube 131.
   > Found 1 clusters in hypercube 132.
   > Found 1 clusters in hypercube 133.
Cube_134 is empty.

   > Found 1 clusters in hypercube 135.
   > Found 1 clusters in hypercube 136.
   > Found 1 clusters in hypercube 137.
   > Found 1 clusters in hypercube 138.
   > Found 1 clusters in hypercube 139.
   > Found 1 clusters in hypercube 140.
   > Found 1 clusters in hypercube 141.
   > Found 1 clusters in hypercube 142.
   > Found 1 clusters in hypercube 143.
   > Found 1 clusters in hypercube 144.
   > Found 1 clusters in hypercube 145.
   > Found 1 clusters in hypercube 146.
   > Found 1 clusters in hypercube 147.
   > Found 1 clusters in hypercube 148.
   > Found 1 clusters in hypercube 149.
   > Found 1 clusters in hypercube 150.
   > Found 1 clusters in hypercube 151.
   > Found 1 clusters in hypercube 152.
   > Found 1 clusters in hypercube 153.
Cube_154 is empty.

   > Found 1 clusters in hypercube 155.
   > Found 1 clusters in hypercube 156.
   > Found 1 clusters in hypercube 157.
   > Found 1 clusters in hypercube 158.
   > Found 1 clusters in hypercube 159.
   > Found 1 clusters in hypercube 160.
   > Found 1 clusters in hypercube 161.
   > Found 1 clusters in hypercube 162.
   > Found 1 clusters in hypercube 163.
   > Found 1 clusters in hypercube 164.
   > Found 1 clusters in hypercube 165.
   > Found 1 clusters in hypercube 166.
   > Found 1 clusters in hypercube 167.
   > Found 1 clusters in hypercube 168.
   > Found 1 clusters in hypercube 169.
   > Found 1 clusters in hypercube 170.
   > Found 1 clusters in hypercube 171.
   > Found 1 clusters in hypercube 172.
   > Found 1 clusters in hypercube 173.
   > Found 1 clusters in hypercube 174.
   > Found 1 clusters in hypercube 175.
   > Found 1 clusters in hypercube 176.
Cube_177 is empty.

   > Found 1 clusters in hypercube 178.
   > Found 1 clusters in hypercube 179.
   > Found 1 clusters in hypercube 180.
   > Found 1 clusters in hypercube 181.
   > Found 1 clusters in hypercube 182.
   > Found 1 clusters in hypercube 183.
   > Found 1 clusters in hypercube 184.
   > Found 1 clusters in hypercube 185.
   > Found 1 clusters in hypercube 186.
   > Found 1 clusters in hypercube 187.
   > Found 1 clusters in hypercube 188.
   > Found 1 clusters in hypercube 189.
   > Found 1 clusters in hypercube 190.
   > Found 1 clusters in hypercube 191.
   > Found 1 clusters in hypercube 192.
   > Found 1 clusters in hypercube 193.
   > Found 1 clusters in hypercube 194.
   > Found 1 clusters in hypercube 195.
   > Found 1 clusters in hypercube 196.
   > Found 1 clusters in hypercube 197.
   > Found 1 clusters in hypercube 198.
   > Found 1 clusters in hypercube 199.
   > Found 1 clusters in hypercube 200.
Cube_201 is empty.

Cube_202 is empty.

   > Found 1 clusters in hypercube 203.
   > Found 1 clusters in hypercube 204.
   > Found 1 clusters in hypercube 205.
   > Found 1 clusters in hypercube 206.
   > Found 1 clusters in hypercube 207.
   > Found 1 clusters in hypercube 208.
   > Found 1 clusters in hypercube 209.
   > Found 1 clusters in hypercube 210.
   > Found 1 clusters in hypercube 211.
   > Found 1 clusters in hypercube 212.
   > Found 1 clusters in hypercube 213.
   > Found 1 clusters in hypercube 214.
   > Found 1 clusters in hypercube 215.
   > Found 1 clusters in hypercube 216.
   > Found 1 clusters in hypercube 217.
   > Found 1 clusters in hypercube 218.
   > Found 1 clusters in hypercube 219.
   > Found 1 clusters in hypercube 220.
   > Found 1 clusters in hypercube 221.
   > Found 1 clusters in hypercube 222.
   > Found 1 clusters in hypercube 223.
   > Found 1 clusters in hypercube 224.
Cube_225 is empty.

   > Found 1 clusters in hypercube 226.
   > Found 1 clusters in hypercube 227.
   > Found 1 clusters in hypercube 228.
   > Found 1 clusters in hypercube 229.
   > Found 1 clusters in hypercube 230.
   > Found 1 clusters in hypercube 231.
   > Found 1 clusters in hypercube 232.
   > Found 1 clusters in hypercube 233.
   > Found 2 clusters in hypercube 234.
   > Found 1 clusters in hypercube 235.
   > Found 1 clusters in hypercube 236.
   > Found 1 clusters in hypercube 237.
   > Found 1 clusters in hypercube 238.
   > Found 1 clusters in hypercube 239.
   > Found 1 clusters in hypercube 240.
   > Found 1 clusters in hypercube 241.
   > Found 1 clusters in hypercube 242.
   > Found 1 clusters in hypercube 243.
   > Found 1 clusters in hypercube 244.
   > Found 1 clusters in hypercube 245.
   > Found 1 clusters in hypercube 246.
   > Found 1 clusters in hypercube 247.
   > Found 1 clusters in hypercube 248.
   > Found 1 clusters in hypercube 249.
   > Found 1 clusters in hypercube 250.
   > Found 1 clusters in hypercube 251.
   > Found 1 clusters in hypercube 252.
   > Found 1 clusters in hypercube 253.
   > Found 1 clusters in hypercube 254.
   > Found 1 clusters in hypercube 255.
   > Found 2 clusters in hypercube 256.
   > Found 1 clusters in hypercube 257.
   > Found 1 clusters in hypercube 258.
   > Found 1 clusters in hypercube 259.
   > Found 1 clusters in hypercube 260.
   > Found 1 clusters in hypercube 261.
   > Found 1 clusters in hypercube 262.
   > Found 1 clusters in hypercube 263.
   > Found 1 clusters in hypercube 264.
   > Found 1 clusters in hypercube 265.
   > Found 1 clusters in hypercube 266.
   > Found 1 clusters in hypercube 267.
Cube_268 is empty.

   > Found 1 clusters in hypercube 269.
Cube_270 is empty.

   > Found 1 clusters in hypercube 271.
   > Found 1 clusters in hypercube 272.
   > Found 1 clusters in hypercube 273.
   > Found 1 clusters in hypercube 274.
   > Found 1 clusters in hypercube 275.
   > Found 1 clusters in hypercube 276.
   > Found 1 clusters in hypercube 277.
   > Found 1 clusters in hypercube 278.
   > Found 1 clusters in hypercube 279.
   > Found 1 clusters in hypercube 280.
   > Found 1 clusters in hypercube 281.
   > Found 1 clusters in hypercube 282.
   > Found 1 clusters in hypercube 283.
   > Found 1 clusters in hypercube 284.
   > Found 1 clusters in hypercube 285.
   > Found 1 clusters in hypercube 286.
   > Found 1 clusters in hypercube 287.
   > Found 1 clusters in hypercube 288.
   > Found 1 clusters in hypercube 289.
   > Found 1 clusters in hypercube 290.
   > Found 1 clusters in hypercube 291.
   > Found 1 clusters in hypercube 292.
   > Found 1 clusters in hypercube 293.
   > Found 1 clusters in hypercube 294.
   > Found 1 clusters in hypercube 295.
   > Found 1 clusters in hypercube 296.
   > Found 1 clusters in hypercube 297.
   > Found 1 clusters in hypercube 298.
   > Found 1 clusters in hypercube 299.
   > Found 1 clusters in hypercube 300.
   > Found 1 clusters in hypercube 301.
   > Found 1 clusters in hypercube 302.
   > Found 1 clusters in hypercube 303.
   > Found 1 clusters in hypercube 304.
   > Found 1 clusters in hypercube 305.
   > Found 1 clusters in hypercube 306.
   > Found 1 clusters in hypercube 307.
   > Found 1 clusters in hypercube 308.
   > Found 1 clusters in hypercube 309.
   > Found 1 clusters in hypercube 310.
   > Found 1 clusters in hypercube 311.
   > Found 1 clusters in hypercube 312.
   > Found 1 clusters in hypercube 313.
   > Found 1 clusters in hypercube 314.
   > Found 1 clusters in hypercube 315.
   > Found 1 clusters in hypercube 316.
   > Found 1 clusters in hypercube 317.
   > Found 1 clusters in hypercube 318.
   > Found 1 clusters in hypercube 319.
   > Found 1 clusters in hypercube 320.
   > Found 1 clusters in hypercube 321.
   > Found 1 clusters in hypercube 322.
   > Found 1 clusters in hypercube 323.
   > Found 1 clusters in hypercube 324.
   > Found 1 clusters in hypercube 325.
   > Found 1 clusters in hypercube 326.
   > Found 1 clusters in hypercube 327.
   > Found 1 clusters in hypercube 328.
   > Found 1 clusters in hypercube 329.
   > Found 1 clusters in hypercube 330.
   > Found 1 clusters in hypercube 331.
   > Found 1 clusters in hypercube 332.
   > Found 1 clusters in hypercube 333.
   > Found 1 clusters in hypercube 334.
Cube_335 is empty.

   > Found 1 clusters in hypercube 336.
   > Found 1 clusters in hypercube 337.
   > Found 1 clusters in hypercube 338.
   > Found 1 clusters in hypercube 339.
   > Found 1 clusters in hypercube 340.
   > Found 1 clusters in hypercube 341.
   > Found 1 clusters in hypercube 342.
   > Found 1 clusters in hypercube 343.
   > Found 1 clusters in hypercube 344.
   > Found 1 clusters in hypercube 345.
   > Found 1 clusters in hypercube 346.
   > Found 1 clusters in hypercube 347.
   > Found 1 clusters in hypercube 348.
   > Found 1 clusters in hypercube 349.
   > Found 1 clusters in hypercube 350.
   > Found 1 clusters in hypercube 351.
   > Found 1 clusters in hypercube 352.
   > Found 1 clusters in hypercube 353.
   > Found 1 clusters in hypercube 354.
   > Found 1 clusters in hypercube 355.
   > Found 1 clusters in hypercube 356.
   > Found 1 clusters in hypercube 357.
   > Found 1 clusters in hypercube 358.
   > Found 1 clusters in hypercube 359.
   > Found 1 clusters in hypercube 360.
   > Found 1 clusters in hypercube 361.
   > Found 1 clusters in hypercube 362.
   > Found 1 clusters in hypercube 363.
   > Found 1 clusters in hypercube 364.
   > Found 1 clusters in hypercube 365.
   > Found 1 clusters in hypercube 366.
   > Found 1 clusters in hypercube 367.
   > Found 1 clusters in hypercube 368.
   > Found 1 clusters in hypercube 369.
Cube_370 is empty.

Cube_371 is empty.

   > Found 1 clusters in hypercube 372.
   > Found 1 clusters in hypercube 373.
   > Found 1 clusters in hypercube 374.
   > Found 1 clusters in hypercube 375.
   > Found 1 clusters in hypercube 376.
   > Found 1 clusters in hypercube 377.
   > Found 1 clusters in hypercube 378.
   > Found 1 clusters in hypercube 379.
   > Found 1 clusters in hypercube 380.
   > Found 1 clusters in hypercube 381.
   > Found 1 clusters in hypercube 382.
   > Found 1 clusters in hypercube 383.
   > Found 1 clusters in hypercube 384.
   > Found 1 clusters in hypercube 385.
   > Found 1 clusters in hypercube 386.
   > Found 1 clusters in hypercube 387.
   > Found 1 clusters in hypercube 388.
   > Found 1 clusters in hypercube 389.
   > Found 1 clusters in hypercube 390.
   > Found 1 clusters in hypercube 391.
Cube_392 is empty.

   > Found 1 clusters in hypercube 393.
Cube_394 is empty.

   > Found 1 clusters in hypercube 395.
   > Found 1 clusters in hypercube 396.
   > Found 1 clusters in hypercube 397.
   > Found 1 clusters in hypercube 398.
   > Found 1 clusters in hypercube 399.
   > Found 1 clusters in hypercube 400.
   > Found 1 clusters in hypercube 401.
   > Found 1 clusters in hypercube 402.
   > Found 1 clusters in hypercube 403.
   > Found 1 clusters in hypercube 404.
   > Found 1 clusters in hypercube 405.
   > Found 1 clusters in hypercube 406.
   > Found 1 clusters in hypercube 407.
   > Found 1 clusters in hypercube 408.
   > Found 1 clusters in hypercube 409.
   > Found 1 clusters in hypercube 410.
   > Found 1 clusters in hypercube 411.
   > Found 1 clusters in hypercube 412.
Cube_413 is empty.

   > Found 1 clusters in hypercube 414.
   > Found 1 clusters in hypercube 415.
   > Found 1 clusters in hypercube 416.
   > Found 1 clusters in hypercube 417.
Cube_418 is empty.

   > Found 1 clusters in hypercube 419.
   > Found 1 clusters in hypercube 420.
Cube_421 is empty.

   > Found 1 clusters in hypercube 422.
   > Found 1 clusters in hypercube 423.
   > Found 1 clusters in hypercube 424.
   > Found 1 clusters in hypercube 425.
Cube_426 is empty.

   > Found 1 clusters in hypercube 427.
   > Found 1 clusters in hypercube 428.
   > Found 1 clusters in hypercube 429.
   > Found 1 clusters in hypercube 430.
   > Found 1 clusters in hypercube 431.
Cube_432 is empty.

   > Found 1 clusters in hypercube 433.
   > Found 1 clusters in hypercube 434.
   > Found 1 clusters in hypercube 435.
Cube_436 is empty.

   > Found 1 clusters in hypercube 437.
Cube_438 is empty.

Cube_439 is empty.

   > Found 1 clusters in hypercube 440.
   > Found 1 clusters in hypercube 441.
   > Found 1 clusters in hypercube 442.
Cube_443 is empty.

   > Found 1 clusters in hypercube 444.
   > Found 1 clusters in hypercube 445.
Merged 12 duplicate nodes.

Number of nodes before merger: 417; after merger: 405


Created 1314 edges and 405 nodes in 0:00:20.746421.

In [ ]:
y = dept_df_2['Publication Date']
custom_t = 'Pub Date- '+ y.astype(str) + ', Dept- '+ dept_df.iloc[y.index]['Departments'].astype(str)
html = mapper.visualize(graph,
                        path_html="dept_collab_2.html",
                        title="dept_Collab",
                        X_names =  custom_t.values,
                        color_function_name = ['Dept'],
                        include_searchbar = True,
                        custom_tooltips = custom_t.values)
from kmapper import jupyter
jupyter.display("dept_collab_2.html")
km.draw_matplotlib(graph)
import matplotlib.pyplot as plt
plt.show()

/usr/local/lib/python3.7/dist-packages/kmapper/kmapper.py:867: UserWarning: `color_function_name` was set -- however, no `color_values` were passed, so default color_values were computed based on row order, and the passed `color_function_name` will be set as their label. This may be unexpected.
  "`color_function_name` was set -- however, no `color_values` were passed, so default color_values were computed based on row order, and the passed `color_function_name` will be set as their label. This may be unexpected."

Wrote visualization to: dept_collab_2.html

no display found. Using non-interactive Agg backend